-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: kennel_db
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$1000000$aIKyBrjWwN0b052jFanRTM$CVs/zKzBniVP5ndn3WdlHKItJwVvE8VdF6C4PjSS3eQ=','2025-07-06 20:45:14.173774',1,'admin','','','admin@kennel.cl',1,1,'2025-06-16 13:13:18.376858');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_archivotramite`
--

DROP TABLE IF EXISTS `core_archivotramite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_archivotramite` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `archivo` varchar(100) NOT NULL,
  `nombre_archivo` varchar(200) DEFAULT NULL,
  `fecha_subida` datetime(6) NOT NULL,
  `tramite_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_archivotramite_tramite_id_5022651c_fk_core_tramites_id` (`tramite_id`),
  CONSTRAINT `core_archivotramite_tramite_id_5022651c_fk_core_tramites_id` FOREIGN KEY (`tramite_id`) REFERENCES `core_tramites` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_archivotramite`
--

LOCK TABLES `core_archivotramite` WRITE;
/*!40000 ALTER TABLE `core_archivotramite` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_archivotramite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_club`
--

DROP TABLE IF EXISTS `core_club`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_club` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) NOT NULL,
  `descripcion` longtext,
  `logo` varchar(100) DEFAULT NULL,
  `link` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_club`
--

LOCK TABLES `core_club` WRITE;
/*!40000 ALTER TABLE `core_club` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_club` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_crianza`
--

DROP TABLE IF EXISTS `core_crianza`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_crianza` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) NOT NULL,
  `contenido` longtext,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_crianza`
--

LOCK TABLES `core_crianza` WRITE;
/*!40000 ALTER TABLE `core_crianza` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_crianza` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_especialidad`
--

DROP TABLE IF EXISTS `core_especialidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_especialidad` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` longtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_especialidad`
--

LOCK TABLES `core_especialidad` WRITE;
/*!40000 ALTER TABLE `core_especialidad` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_especialidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_evento`
--

DROP TABLE IF EXISTS `core_evento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_evento` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo_evento` varchar(100) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_termino` date NOT NULL,
  `lugar` varchar(200) NOT NULL,
  `descripcion` longtext,
  `fecha_creacion` datetime(6) NOT NULL,
  `invitados` longtext,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_evento`
--

LOCK TABLES `core_evento` WRITE;
/*!40000 ALTER TABLE `core_evento` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_evento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_fotohistoriaraza`
--

DROP TABLE IF EXISTS `core_fotohistoriaraza`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_fotohistoriaraza` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `imagen` varchar(100) NOT NULL,
  `orden` int unsigned NOT NULL,
  `historia_raza_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_fotohistoriaraz_historia_raza_id_fbf84d03_fk_core_hist` (`historia_raza_id`),
  CONSTRAINT `core_fotohistoriaraz_historia_raza_id_fbf84d03_fk_core_hist` FOREIGN KEY (`historia_raza_id`) REFERENCES `core_historiarazas` (`id`),
  CONSTRAINT `core_fotohistoriaraza_chk_1` CHECK ((`orden` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=139 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_fotohistoriaraza`
--

LOCK TABLES `core_fotohistoriaraza` WRITE;
/*!40000 ALTER TABLE `core_fotohistoriaraza` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_fotohistoriaraza` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_historiarazas`
--

DROP TABLE IF EXISTS `core_historiarazas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_historiarazas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) NOT NULL,
  `fecha_creacion` datetime(6) NOT NULL,
  `imagenPrincipal` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_historiarazas`
--

LOCK TABLES `core_historiarazas` WRITE;
/*!40000 ALTER TABLE `core_historiarazas` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_historiarazas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_historiarazas_clubes`
--

DROP TABLE IF EXISTS `core_historiarazas_clubes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_historiarazas_clubes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `historiarazas_id` bigint NOT NULL,
  `club_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_historiarazas_clubes_historiarazas_id_club_id_8ef3564e_uniq` (`historiarazas_id`,`club_id`),
  KEY `core_historiarazas_clubes_club_id_1113173e_fk_core_club_id` (`club_id`),
  CONSTRAINT `core_historiarazas_c_historiarazas_id_20a2ea92_fk_core_hist` FOREIGN KEY (`historiarazas_id`) REFERENCES `core_historiarazas` (`id`),
  CONSTRAINT `core_historiarazas_clubes_club_id_1113173e_fk_core_club_id` FOREIGN KEY (`club_id`) REFERENCES `core_club` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_historiarazas_clubes`
--

LOCK TABLES `core_historiarazas_clubes` WRITE;
/*!40000 ALTER TABLE `core_historiarazas_clubes` DISABLE KEYS */;
INSERT INTO `core_historiarazas_clubes` VALUES (9,3,3),(8,4,2),(7,5,4),(6,7,1),(5,10,5),(4,11,7),(3,12,8),(2,14,9),(1,15,6);
/*!40000 ALTER TABLE `core_historiarazas_clubes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_juez`
--

DROP TABLE IF EXISTS `core_juez`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_juez` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombres` varchar(200) NOT NULL,
  `apellido_paterno` varchar(100) NOT NULL,
  `apellido_materno` varchar(100) NOT NULL,
  `rut` varchar(20) DEFAULT NULL,
  `fotografia` varchar(100) DEFAULT NULL,
  `email` varchar(254) NOT NULL,
  `celular1` varchar(20) NOT NULL,
  `celular2` varchar(20) DEFAULT NULL,
  `afijo` varchar(100) DEFAULT NULL,
  `curriculum` varchar(100) DEFAULT NULL,
  `fecha_registro` datetime(6) NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `tipo_juez_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rut` (`rut`),
  KEY `core_juez_tipo_juez_id_ee7e715f_fk_core_tipojuez_id` (`tipo_juez_id`),
  CONSTRAINT `core_juez_tipo_juez_id_ee7e715f_fk_core_tipojuez_id` FOREIGN KEY (`tipo_juez_id`) REFERENCES `core_tipojuez` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_juez`
--

LOCK TABLES `core_juez` WRITE;
/*!40000 ALTER TABLE `core_juez` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_juez` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_juez_especialidades`
--

DROP TABLE IF EXISTS `core_juez_especialidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_juez_especialidades` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `juez_id` bigint NOT NULL,
  `especialidad_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_juez_especialidades_juez_id_especialidad_id_7cb417e0_uniq` (`juez_id`,`especialidad_id`),
  KEY `core_juez_especialid_especialidad_id_3ce1b208_fk_core_espe` (`especialidad_id`),
  CONSTRAINT `core_juez_especialid_especialidad_id_3ce1b208_fk_core_espe` FOREIGN KEY (`especialidad_id`) REFERENCES `core_especialidad` (`id`),
  CONSTRAINT `core_juez_especialidades_juez_id_06b54264_fk_core_juez_id` FOREIGN KEY (`juez_id`) REFERENCES `core_juez` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_juez_especialidades`
--

LOCK TABLES `core_juez_especialidades` WRITE;
/*!40000 ALTER TABLE `core_juez_especialidades` DISABLE KEYS */;
INSERT INTO `core_juez_especialidades` VALUES (1,1,1),(2,2,2),(3,3,8);
/*!40000 ALTER TABLE `core_juez_especialidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_juez_licencias`
--

DROP TABLE IF EXISTS `core_juez_licencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_juez_licencias` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `juez_id` bigint NOT NULL,
  `licencia_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_juez_licencias_juez_id_licencia_id_10077012_uniq` (`juez_id`,`licencia_id`),
  KEY `core_juez_licencias_licencia_id_9a2f5f2d_fk_core_licencia_id` (`licencia_id`),
  CONSTRAINT `core_juez_licencias_juez_id_44492026_fk_core_juez_id` FOREIGN KEY (`juez_id`) REFERENCES `core_juez` (`id`),
  CONSTRAINT `core_juez_licencias_licencia_id_9a2f5f2d_fk_core_licencia_id` FOREIGN KEY (`licencia_id`) REFERENCES `core_licencia` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_juez_licencias`
--

LOCK TABLES `core_juez_licencias` WRITE;
/*!40000 ALTER TABLE `core_juez_licencias` DISABLE KEYS */;
INSERT INTO `core_juez_licencias` VALUES (2,3,7),(1,3,14);
/*!40000 ALTER TABLE `core_juez_licencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_juez_razas`
--

DROP TABLE IF EXISTS `core_juez_razas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_juez_razas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `juez_id` bigint NOT NULL,
  `raza_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_juez_razas_juez_id_raza_id_4f760754_uniq` (`juez_id`,`raza_id`),
  KEY `core_juez_razas_raza_id_6c4fb6fc_fk_core_raza_id` (`raza_id`),
  CONSTRAINT `core_juez_razas_juez_id_92cbd4c9_fk_core_juez_id` FOREIGN KEY (`juez_id`) REFERENCES `core_juez` (`id`),
  CONSTRAINT `core_juez_razas_raza_id_6c4fb6fc_fk_core_raza_id` FOREIGN KEY (`raza_id`) REFERENCES `core_raza` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_juez_razas`
--

LOCK TABLES `core_juez_razas` WRITE;
/*!40000 ALTER TABLE `core_juez_razas` DISABLE KEYS */;
INSERT INTO `core_juez_razas` VALUES (1,1,1),(2,2,2),(3,2,3),(4,2,4),(5,2,5),(6,2,6),(7,2,7),(8,2,8),(9,2,9),(10,2,10),(11,2,11),(15,3,15),(12,3,33),(13,3,35),(14,3,38),(16,3,58);
/*!40000 ALTER TABLE `core_juez_razas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_licencia`
--

DROP TABLE IF EXISTS `core_licencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_licencia` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` longtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_licencia`
--

LOCK TABLES `core_licencia` WRITE;
/*!40000 ALTER TABLE `core_licencia` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_licencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_noticias`
--

DROP TABLE IF EXISTS `core_noticias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_noticias` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) NOT NULL,
  `texto` longtext,
  `fecha` datetime(6) NOT NULL,
  `imagen` varchar(100) DEFAULT NULL,
  `categoria` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_noticias`
--

LOCK TABLES `core_noticias` WRITE;
/*!40000 ALTER TABLE `core_noticias` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_noticias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_preguntasfrecuentes`
--

DROP TABLE IF EXISTS `core_preguntasfrecuentes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_preguntasfrecuentes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `pregunta` varchar(500) NOT NULL,
  `respuesta` longtext NOT NULL,
  `categoria` varchar(20) NOT NULL,
  `orden` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `core_preguntasfrecuentes_chk_1` CHECK ((`orden` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_preguntasfrecuentes`
--

LOCK TABLES `core_preguntasfrecuentes` WRITE;
/*!40000 ALTER TABLE `core_preguntasfrecuentes` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_preguntasfrecuentes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_ranking`
--

DROP TABLE IF EXISTS `core_ranking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_ranking` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) NOT NULL,
  `fecha` varchar(7) NOT NULL,
  `archivo` varchar(100) DEFAULT NULL,
  `categoria` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_ranking`
--

LOCK TABLES `core_ranking` WRITE;
/*!40000 ALTER TABLE `core_ranking` DISABLE KEYS */;
INSERT INTO `core_ranking` VALUES (1,'Ranking Veteranos','2025-06','rankings/veteranos_junio_2025_AUYUCDa.pdf','Ranking 14 y 15 de junio 2025'),(2,'Ranking Final Adultos','2025-06','rankings/final_adulto_junio_2025.pdf','Ranking 14 y 15 de junio 2025'),(3,'Ranking Veteranos','2024-12','rankings/veteranos_noviembre_2024.pdf','Ranking  Ganadores Final 2024'),(4,'Ranking Especializada Raza Adulto','2022-11','rankings/adulto-raza_especializada-noviembre-2022.pdf','Ranking Especializada Raza Noviembre 2022 (ROTT)');
/*!40000 ALTER TABLE `core_ranking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_raza`
--

DROP TABLE IF EXISTS `core_raza`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_raza` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` longtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_raza`
--

LOCK TABLES `core_raza` WRITE;
/*!40000 ALTER TABLE `core_raza` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_raza` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_reglamentos`
--

DROP TABLE IF EXISTS `core_reglamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_reglamentos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombreReglamento` varchar(200) NOT NULL,
  `archivo` varchar(100) NOT NULL,
  `fecha_creacion` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_reglamentos`
--

LOCK TABLES `core_reglamentos` WRITE;
/*!40000 ALTER TABLE `core_reglamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_reglamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_tipojuez`
--

DROP TABLE IF EXISTS `core_tipojuez`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_tipojuez` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` longtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_tipojuez`
--

LOCK TABLES `core_tipojuez` WRITE;
/*!40000 ALTER TABLE `core_tipojuez` DISABLE KEYS */;
INSERT INTO `core_tipojuez` VALUES (1,'Estructura y Belleza',NULL),(2,'Grupo',NULL),(3,'Raza',NULL),(4,'Agility',NULL),(5,'Adiestramiento',NULL);
/*!40000 ALTER TABLE `core_tipojuez` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_tramites`
--

DROP TABLE IF EXISTS `core_tramites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_tramites` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) NOT NULL,
  `descripcion` longtext,
  `imagen` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_tramites`
--

LOCK TABLES `core_tramites` WRITE;
/*!40000 ALTER TABLE `core_tramites` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_tramites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=158 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(20,'core','archivotramite'),(19,'core','club'),(16,'core','crianza'),(10,'core','especialidad'),(13,'core','evento'),(18,'core','fotohistoriaraza'),(17,'core','historiarazas'),(12,'core','juez'),(9,'core','licencia'),(7,'core','noticias'),(22,'core','preguntasfrecuentes'),(14,'core','ranking'),(11,'core','raza'),(15,'core','reglamentos'),(8,'core','tipojuez'),(21,'core','tramites'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-16 11:15:56
