{% extends 'contenidoTexto.html' %}

{% block titulo_contenido %}Crianza{% endblock %}

{% block contenido_texto %}
    <div class="prose">
        <p>Pedigree
            El certificado de pedigree es un documento oficial emitido por la institución canina oficial reconocida por la Federación Cinológica internacional “FCI”, en este caso el Kennel Club de Chile, que corresponde al árbol genealógico del ejemplar. Es el único documento que certifica la propiedad del perro.
            Información que contiene es: números de registro genealógico, inscripción de la camada, y de microchip. Nombre, raza, color, sexo y fecha de nacimiento del ejemplar, nombre y dirección del criador y del propietario del perro.
            
            En el se registran las cuatro generaciones antecesoras del ejemplar, con sus respectivos números de registro y títulos obtenidos.
            
            Los pedigrees pueden ser nacionales y de exportación o internacionales. Todos los ejemplares pueden tener solo el pedigree emitido en su país de origen, en caso de cambio de propietario o de residencia a un país extranjero, estos serán registrados por el KCC en el mismo documento.
        </p>
    </div>
{% endblock %}
